/* Common styles */

.no-scroll {
  height: 100%;
  overflow: hidden;
}

/* Menu */

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu-header {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 800px;
  text-align: center;
}

.menu-header-accent {
  color: #B0907A;
  font-style: italic;
  letter-spacing: -0.8px;
}

/* offers tabs */

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  gap: 12px;
}

.tab-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 6px 16px 6px 8px;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.tab-item-selected, .tab-item:hover {
  background: #665F55;
}

.tab-item-selected {
  cursor: default;
}

.tab-item-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 7px 7px;
  background: #C1B6AD;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.tab-item-emoji-selected, .tab-item:hover .tab-item-emoji {
  background: #E1D4C9;
}

.tab-item-name {
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.tab-item-name-selected, .tab-item:hover .tab-item-name {
  color: #E1D4C9;
}

/* offers */

.offers-container {
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-auto-flow: row;
  gap: 40px;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
  gap: 12px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}

.offer-img {
  display: inline-block;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.offer-img img {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  display: block;
  transform: scale(1.1,1.1);
 }

.offer-name {
  padding: 8px 20px 0 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.offer-text {
  min-height: 72px;
  padding: 0 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.offer-price {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

/* refresh button */

.refresh-container {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  margin: 0px;
}

.refresh-button {
  width: 24px;
  height: 24px;
  background: url(../images/icon-refresh.svg);
  background-size: cover;
}

/* Modal window */

.modal-window {
  display: none;
  position: fixed;
  width: 800px;
  height: 504px;
  background: #E1D4C9;
  border-radius: 40px;
  z-index: 7;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal-container {
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.modal-img-block {
  min-width: 310px;
  height: 310px;
}

.modal-img {
  display: inline-block;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.modal-img img {
  transform: scale(1.1,1.1);
}

.modal-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.modal-name{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal-description{
  padding-top: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal-block-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 10px;
}

.modal-block-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 8px 16px 8px 8px;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.modal-block-item-selected, .modal-block-item:hover {
  background: #665F55;
}

.modal-block-item-selected {
  cursor: default;
}

.block-item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  /* padding: 7px 7px; */
  /* padding: 3px 9px 3px 10px; */
  background: #C1B6AD;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.block-item-name-selected, .modal-block-item:hover .block-item-name {
  background: #E1D4C9;
}

.block-item-value {
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.block-item-value-selected, .modal-block-item:hover .block-item-value {
  color: #E1D4C9;
}

.modal-total-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  gap: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal-info-block {
  border-top: 1px solid #C1B6AD;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.info-block-icon {
  background-image: url(../images/icon-info-empty.svg);
  background-position: top left;
  background-repeat: no-repeat;
  height: 16px;
  min-width: 16px;
}

.info-block-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.modal-close {
  display: flex;
  margin-top: 1px;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid #665F55;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.modal-close:hover {
  color: #E1D4C9;
  background: #665F55;
}


/* Media query's */

/* desktop */
@media (min-width: 769px) {

  .offers-container {
    width: 100%;
    max-width: 1360px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    justify-items: center;
    margin: 0 40px;
  }

  .offer-item {
    width: 310px;
  }

  .offer-item:hover .offer-img, .offer-img img:hover {
    transform: scale(1.0,1.0);
   }

  .refresh-container {
    display: none;
  }

  .section-contacts {
    margin-top: 100px;
  }

}

/* tablet */
@media (max-width: 768px) {

  .menu-header {
    width: 688px;
  }

  .block-hide {
    display: none;
  }

  .offers-container {
    grid-template-columns: 310px 310px;
    margin-bottom: 0px;
  }

  .offer-item {
    cursor: default;
  }

  .section-contacts {
    margin-top: 100px;
  }

}

/* from mobile to tablet */
@media (min-width: 381px) and (max-width: 767px) {

  .menu-header {
    width: 100%;
    padding: 0px 40px;
    font-size: 2.7rem;
    word-wrap: break-word;
  }

  .offers-container {
    width: 100%;
    max-width: 1360px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    margin-bottom: 0px;
    justify-items: center;
  }

  .offer-item {
    width: 310px;
  }

}

/* mobile */
@media (max-width: 380px) {

  .section-menu {
    padding: 0 16px;
    gap: 38px;
  }

  .menu-header {
    width: 348px;
    font-size: 32px;
  }

  .menu-header-accent {
    color: #B0907A;
    font-style: italic;
    letter-spacing: 0px;
  }

  .tabs-wrapper {
    width: 345px;
    gap: 8px;
  }

  .tab-item {
    gap: 8px;
    padding: 8px 16px 8px 8px;
  }

  .block-hide {
    display: none;
  }

  .offers-container {
    grid-template-columns: 310px;
  }

  .section-contacts {
    margin-top: 100px;
  }

}